PMS/UTILITY/obj/
PMS/UTILITY/bin/
PMS/sdf/PMS/v15/
PMS/sdf/
PMS/PMS_SERVICE/bin/Debug/Models.pdb
PMS/PMS_SERVICE/bin/
PMS/PMS_DAL/obj/
PMS/PMS_DAL/bin/
PMS/PMS_Client/obj/
PMS/PMS_Client/bin/
PMS/Models/obj/
PMS/.vs/
PMS/Models/bin/
PMS/PMS/bin/
