PMS/.vs/PMS/v15/
PMS/sdf/
PMS/PMS_Client/bin/
PMS/PMS_Client/obj/Debug/PMS_Client.dll
PMS/PMS_Client/obj/Debug/PMS_Client.pdb
PMS/PMS_Client/obj/
PMS/PMS_DAL/obj/
PMS/UTILITY/obj/
PMS/UTILITY/bin/Debug/UTILITY.pdb
PMS/UTILITY/bin/
PMS/Models/obj/
PMS/Models/bin/
PMS/PMS/bin/
PMS/PMS_DAL/bin/
PMS/PMS_SERVICE/bin/
PMS/PMS/obj/
