
@{
    ViewBag.Title = "Login";
}

<h1> User Registration</h1>
@*@model User_Registration*@

@Html.TextBox("FirstName", "", new { @class="form-control"}) 
       @*User_Email_Id 
       User_Address 
       Phone_Number 
       User_Password*@