
@{
    ViewBag.Title = "PMS";
}

<h2>PMS</h2>

<p>
    PMS stands for Pre-Management Service.
    This is also a pre-ordering materials earlier through mail without wasting your time
    in approaching the sailer shop with cheap rated materials.
    For first user's there are more offers which is limited to based on the First come first booking
    Enjoy the Online shopping with exciting offers.
    The major advantage of this app is we are also providing limited vegetables and fruits which are
    fresh and made in the PMS operated fields. No pesticides are used for it's production.
    So the amount of these vegetables are limited, so will be availed to the First come first policy
    by the PMS rules.
</p>
