
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<connectionStrings>
    <add name="RegistrationAppContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=RegistrationAppContext-20180228230139; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|RegistrationAppContext-20180228230139.mdf"
         providerName="System.Data.SqlClient" />
</connectionStrings>  